<div class="index-container">
  <h1>Language Learning App</h1>
<h1>Homepage of your web application must include the text “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”. Check that the coursework has a standard cover page with all relevant data.</h1>

  <% if (!user) { %>
    <p>Please <a href="/users/login">login</a> or <a href="/users/register">register</a> to start creating flashcards.</p>
  <% } else { %>
    <h2>Welcome, <%= user.username %>!</h2>
    <p><a href="/cards">View and manage your flashcards</a>.</p>
  <% } %>
</div>
